In [1]:
%matplotlib inline
import pandas as pd

In [4]:
cast = pd.read_csv('data/cast.csv')
cast.head()

,title,year,name,type,character,n
0,The Core,2003,Alejandro Abellan,actor,U.S.S. Soldier,NaN
1,Il momento di uccidere,1968,Remo De Angelis,actor,Dago,9
2,Across the Divide,1921,Thomas Delmar,actor,Dago,4
3,Revan,2012,Diego James,actor,Dago,NaN
4,Un homme marche dans la ville,1950,Fabien Loris,actor,Dago,12

### How many movies are listed in the titles dataframe?

In [1]:
import pandas as pd

In [2]:
cast = pd.read_csv("F:\data\cast.csv")

In [4]:
ccast = cast.copy()

In [7]:
ccast.title.value_counts().sum()

3611212

### What are the earliest two films listed in the titles dataframe?

In [10]:
ccast.sort_values(by=["year"]).head(n=2)

,title,year,name,type,character,n
2514470,Miss Jerry,1894,Blanche Bayliss,actress,Miss Geraldine Holbrook (Miss Jerry),NaN
555929,Miss Jerry,1894,Chauncey Depew,actor,Himself - the Director of the New York Central...,NaN

### How many movies have the title "Hamlet"?

In [13]:
q=ccast[ccast.title=="Hamlet"]

In [14]:
q.title.value_counts().sum()

313

### How many movies are titled "North by Northwest"?

In [18]:
w=ccast[ccast.title=="North by Northwest"]
w.title.value_counts().sum()

112

### When was the first movie titled "Hamlet" made?

In [25]:
q.sort_values(by=["year"]).head(n=1)

          title  year               name   type character   n
1545289  Hamlet  1910  Jean Mounet-Sully  actor    Hamlet NaN

### List all of the "Treasure Island" movies from earliest to most recent.

In [37]:
ts=ccast[ccast.title=="Treasure Island"]

In [39]:
ts.sort_values(by=["year"])

,title,year,name,type,character,n
830114,Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
840745,Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
909157,Treasure Island,1918,Edwin Harley,actor,Prologue Player,NaN
3298306,Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
1715014,Treasure Island,1918,Lloyd Perl,actor,Black Dog,4.0
...,...,...,...,...,...,...
2420089,Treasure Island,1999,Caveh Zahedi,actor,Harold,9.0
1637661,Treasure Island,1999,Nick Offerman,actor,Samuel,2.0
1375015,Treasure Island,1999,J.P. Manoux,actor,Officer Hughes,18.0
1797264,Treasure Island,1999,Victor Raider-Wexler,actor,Samowitz,10.0
307749,Treasure Island,1999,Bob Byington,actor,Thomas,12.0

### How many movies were made in the year 1950?

In [40]:
s=ccast[ccast.year==1950]

In [41]:
s.title.value_counts().sum()

22006

### How many movies were made in the year 1960?

In [44]:
y=ccast[ccast.year==1960]
y.title.value_counts().sum()

18456

### How many movies were made from 1950 through 1959?

In [52]:
i=ccast[(ccast.year>=1950)&(ccast.year<=1959)]

In [4]:
import pandas as pd

In [8]:
cast = pd.read_csv("F://data//cast.csv")

In [25]:
t=cast[(cast.year>=1950)&(cast.year<=1959)]

In [26]:
t.year.value_counts().sum()

210986

### In what years has a movie titled "Batman" been released?

In [28]:
n=cast[cast.title=="Batman"]

In [32]:
n.year.value_counts()

1989    68
1943    52
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [33]:
e=cast[cast.title=="Inception"]

In [35]:
e.character.value_counts().sum()

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [37]:
e.isnull().sum()

title         0
year          0
name          0
type          0
character     0
n            26
dtype: int64

### But how many roles in the movie "Inception" did receive an "n" value?

In [38]:
e.notnull().sum()

title        77
year         77
name         77
type         77
character    77
n            51
dtype: int64

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [39]:
m=cast[cast.title=="North by Northwest"]

In [42]:
m[m.n.isnull()]

,title,year,name,type,character,n
12151,North by Northwest,1959,Stanley Adams,actor,Lieutenant Harding,NaN
27852,North by Northwest,1959,Andy Albin,actor,Farmer,NaN
54093,North by Northwest,1959,Don Anderson,actor,Worker,NaN
54307,North by Northwest,1959,Ernest Anderson,actor,Porter on Twentieth Century Ltd.,NaN
92195,North by Northwest,1959,Malcolm Atterbury,actor,Man at Prairie Crossing,NaN
...,...,...,...,...,...,...
3289400,North by Northwest,1959,Maudie Prickett,actress,Elsie - Maid,NaN
3416124,North by Northwest,1959,Doris Singh,actress,First United Nations Receptionist,NaN
3437248,North by Northwest,1959,Helen Spring,actress,Bidder,NaN
3567500,North by Northwest,1959,Susan Whitney,actress,Attendant,NaN
3578877,North by Northwest,1959,Paula Winslowe,actress,Woman at Auction,NaN

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [43]:
u=cast[(cast.title=="Sleuth")&(cast.year==1972)]

In [45]:
u

,title,year,name,type,character,n
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [46]:
o=cast[(cast.title=="Sleuth")&(cast.year==2007)]
o

          title  year                 name     type          character    n
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [47]:
p=cast[(cast.title=="Hamlet")&(cast.year==1921)]
p.character.value_counts().sum()

9

### How many roles were credited in Branagh’s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

In [49]:
r=cast[cast.character=="Sidney Poitier"]
r.character.value_counts().sum()

1

### How many roles has Judi Dench played?

In [50]:
o=cast[cast.character=="Judi Dench"]
o.character.value_counts().sum()

0

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [63]:
j=cast[(cast.character=="Cary Grant") & (cast.n==2)] ### & (cast.year>=1940) & (cast.year<=1950)]

In [64]:
j

                   title  year            name   type   character    n
908803  Received Payment  1922  Kenneth Harlan  actor  Cary Grant  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [66]:
p =cast[(cast.character=="Cary Grant") & (cast.year>=1940) & (cast.year<=1950)]
p

                          title  year        name   type   character   n
840351  George White's Scandals  1945  Cary Grant  actor  Cary Grant NaN
840415     Without Reservations  1946  Cary Grant  actor  Cary Grant NaN

### How many roles were available for actors in the 1950s?

In [69]:
m=cast[cast.year==1950]
m.character.value_counts().sum()

22006

### How many roles were available for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [76]:
k=cast[(cast.n==1) & (cast.year>1980)]

In [78]:
k.character.value_counts().sum()

83121

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [79]:
v=cast[cast.year==1980]

In [81]:
p = v[v.n.isnull()]

In [82]:
p.title.value_counts().sum()

4227